<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
	width: 800px;
	height: 480px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-size: 20px;
  font-weight: 500;
}
</style>
</head>
<body>
<table>
    <tr>
        <th>Hoy </th>
        <th>Mañana</th>
        <th>Proximos 7 dias</th>
    </tr>
    <tr>
        <td>
            <div th:if="${#lists.isEmpty(notificationsToday)}">
                -
            </div>
            <ul>
                <li th:each="notif: ${notificationsToday}">
                    <span th:text="|${notif.date} - ${notif.text}|"></span>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="notif: ${notificationsTomorrow}">
                    <span th:text="|${#temporals.format(notif.date, 'HH:mm')} - ${notif.text}|"></span>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="notif: ${notificationsRestOfWeek}">
                    <span th:text="|${#temporals.dayOfWeekName(notif.date)} - ${notif.text}|"></span>
                </li>
            </ul>
        </td>
    </tr>
</table>


<div th:if="${#lists.isEmpty(shoppingList)}">
    --Shopping List está vacia--
</div>
<ul>
    <li th:each="item: ${shoppingList}">
        <span th:text="|${item}|"></span>
    </li>
</ul>

</body>
</html>