<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	width: 800px;
	height: 480px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-size: 10px;
}
</style>
</head>
<body>
            <ul>
                <li th:each="notif: ${notifications}">
                    <span th:text="|${notif.date} - ${notif.text}|"></span>
                </li>
            </ul>

<ul>
    <li th:each="item: ${shoppingList}">
        <span th:text="|${item}|"></span>
    </li>
</ul>

</body>
</html>